<!DOCTYPE html>
<html>
  <head>
    <title>A Lull In The Museum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="https://iconsetc.com/icons-watermarks/simple-black-gradient/foundation/foundation_star/foundation_star_simple-black-gradient_512x512.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
